.cardsContainer {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1.5rem;
}

.statsCard {
  position: relative;
  display: flex;
  flex-direction: column;
  flex: 1 1 15rem;
  padding-block-start: 2.3rem;
  width: 100%;
  border-radius: var(--corners) var(--corners) 1.1rem 1.1rem;
  background-color: var(--orange-300);
  overflow: hidden;
}

.categoryIcon {
  position: absolute;
  z-index: 0;
  align-self: flex-end;
  margin-inline-end: 1rem;
  width: 4.5rem;
}

.statsContainer {
  display: flex;
  flex-direction: column;
  /* justify-content: space-between;
  align-items: flex-end; */
  z-index: 1;
  padding: 2rem;
  border-radius: var(--corners);
  background-color: var(--navy-900);
}

.prevStats {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  gap: 1.5rem;
  height: 100%;
}

.prevStats img {
  align-self: center;
}

.currentStats {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.category {
  font-size: 1.125rem;
  margin-block-end: 0.5rem;
  color: var(--white);
}

.currentTime {
  font-size: 1.8rem;
  color: var(--white);
}

.prevTime {
  font-size: 0.8rem;
}

@media (min-width: 832px) {
  .statsCard {
    max-width: 242.33px;
  }

  .cardsContainer {
    max-width: 900px;
  }

  .currentStats {
    flex-direction: column;
    align-items: flex-start;
    gap: 0.5rem;
  }

  .currentTime {
    font-size: 3rem;
    font-weight: 200;
  }

  .category {
    font-size: 1rem;
    margin-block-end: 1rem;
  }

  .prevStats img {
    align-self: flex-start;
    margin-block-start: 0.3rem;
  }
}