*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Rubik', sans-serif;
  color: var(--navy-200);
}

:root {
  /* Primary Colors */
  --purple-600: hsl(246, 80%, 60%);
  --orange-300: hsl(15, 100%, 70%);      /* Work */
  --blue-300: hsl(195, 74%, 62%);        /* Play */
  --pink-400: hsl(348, 100%, 68%);       /* Study */
  --green-400: hsl(145, 58%, 55%);       /* Exercise */
  --purple-700: hsl(264, 64%, 52%);      /* Social */
  --yellow-300: hsl(43, 84%, 65%);       /* Self Care */

  /* Neutral Colors */
  --navy-950: hsl(226, 43%, 10%);
  --navy-900: hsl(235, 46%, 20%);
  --purple-500: hsl(235, 45%, 61%);
  --navy-200: hsl(236, 100%, 87%);
  --white: white;

  /* Font Weights */
  --fw-300: 300;
  --fw-400: 400;
  --fw-500: 500;

  /* Border radius */
  --corners: 1rem;
}

@font-face {
  font-family: 'Rubik';
  src: url(assets/fonts/rubik-v31-latin-300.woff2);
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Rubik';
  src: url(assets/fonts/rubik-v31-latin-regular.woff2);
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Rubik';
  src: url(assets/fonts/rubik-v31-latin-500.woff2);
  font-weight: 500;
  font-style: normal;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  background-color: var(--navy-950);
}

.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
  height: 100%;
  margin-block: 5rem;
  margin-inline: 2rem;
}

@media (min-width: 567px) {
  body {
    height: 100vh;
  }
}

@media (min-width: 1082px) {
 .main-container {
  flex-direction: row;
  gap: 0;
 }
}